<%= content_for(:breadcrumbs) do %>
  <%= link_to "Inboxes", inboxes_path %>
  <%= inline_svg_tag "icons/solid-chevron-right.svg", class: "h-4 inline" %>
  <%= link_to @inbox.name, @inbox %>
<% end %>

All emails from <%= @inbox.name %>

<%= turbo_frame_tag @inbox do %>
  <%= link_to [@inbox, :inbound_emails], class: "group p-2 block hover:bg-gray-100 rounded-lg", data: { "turbo-frame": "#{dom_id(@inbox)}_inbound_emails" } do %>
    <p><%= @inbox.name %></p>
    <p class="truncate text-gray-400 text-sm" title="<%= @inbox.address %>"><%= @inbox.address %></p>
  <% end %>
<% end %>

<%= turbo_frame_tag "inbound_emails" do %>
  <% @inbound_emails.each do |email| %>
    <%= link_to [@inbox, email], class: "group p-2 block hover:bg-gray-100 rounded-lg", data: { "turbo-frame": "inbound_email" } do %>
      <p><%= email.mail.subject.truncate(30) %></p>
      <p class="truncate text-gray-400 text-sm"><%= email.from.truncate(30) %></p>
    <% end %>
  <% end %>
<% end %>
