<div class="grid md:grid-cols-10 grid-cols-1 gap-1">
  <!-- Inboxes -->
  <div class="md:col-span-2">
    <p class="text-xs text-gray-300 mb-2">Inboxes</p>
    <%= turbo_frame_tag "inboxes", src: account_inboxes_path(current_account) do %>
      <%= render "application/loader" %>
    <% end %>
  </div>

  <!-- Emails -->
  <div class="md:col-span-2">
    <p class="text-xs text-gray-300 mb-2">Emails</p>
    <%= turbo_frame_tag "inbound_emails" do %>
      <% if @inbound_emails.blank? %>
        <div class="rounded-lg bg-yellow-50 text-gray-600 p-2">
          Send an email to your inbox's address to see it here.
        </div>
      <% end %>

      <% @inbound_emails.each do |email| %>
        <%= link_to [current_account, @inbox, email], class: "group p-2 block hover:bg-gray-100 rounded-lg", data: { "turbo-frame": "inbound_email", "turbo-action": "replace" } do %>
          <p class="truncate"><%= email.mail.subject %></p>
          <p class="truncate text-gray-400 text-sm"><%= email.from.truncate(30) %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <!-- Email body -->
  <div class="md:col-span-6">
    <p class="text-xs text-gray-300 mb-2">Email</p>
    <%= turbo_frame_tag "inbound_email" %>
  </div>
</div>
