<%= content_for(:breadcrumbs) do %>
  <%= link_to "Inbound Emails", inbound_emails_path %>
  <%= inline_svg_tag "icons/solid-chevron-right.svg", class: "h-4 inline" %>
  <%= link_to "##{@email.id}", inbound_email_path(@email.id) %>
<% end %>

<% iframe_classes = "mx-auto w-full h-64 overflow-hidden hover:overflow-auto hover:h-screen p-4 border border-gray-200 rounded-lg" %>
<% label_classes = "w-full mx-auto text-gray-400" %>

<div class="mb-3 p-3 bg-blue-50 text-gray-700 rounded-lg">
  Hover to expand the email.
</div>

<div class="my-2 grid md:grid-cols-5 gap-4">
  <div class="col-span-4">
    <div class="my-4">
      <p class="<%= label_classes %>">text/html</p>
      <iframe src="?raw=true" frameborder="0" class="<%= iframe_classes %>"></iframe>
    </div>

    <div class="my-4">
      <p class="<%= label_classes %>">text/plain</p>
      <iframe src="<%= request.original_url + ".txt?raw=true" %>" frameborder="0" class="<%= iframe_classes %>"></iframe>
    </div>
  </div>

  <div class="col-span-1 my-4">
    <p class="<%= label_classes %>">Attachments</p>

    <% if @email.mail.attachments.empty? %>
      <div class="my-3 p-3 bg-blue-50 text-gray-700 rounded-lg">
        No attachments.
      </div>
    <% end %>

    <% @email.mail.attachments.each do |attachment| %>
      <%= link_to inbound_email_attachment_path(@email.id, filename: attachment.filename), class: "group border border-gray-200 rounded-lg p-2 mb-4 block hover:bg-gray-100" do %>
        <p class="text-center my-7">
          <%= attachment.mime_type %>
        </p>
        <p class="text-center text-gray-700" title="<%= attachment.filename %>">
          <%= attachment.filename.truncate(20) %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
