<div class="grid md:grid-cols-10 grid-cols-1 gap-1">
  <!-- Inboxes -->
  <div class="col-span-2">
    <p class="text-xs text-gray-300 mb-2">Inboxes</p>
    <%= turbo_frame_tag "inboxes", src: inboxes_path do %>
      <%= render "application/loader" %>
    <% end %>
  </div>

  <!-- Emails -->
  <div class="col-span-2">
    <p class="text-xs text-gray-300 mb-2">Emails</p>
    <%= turbo_frame_tag "inbound_emails", src: inbox_inbound_emails_path(@inbox) do %>
      <%= render "application/loader" %>
    <% end %>
  </div>

  <!-- Email body -->
  <div class="col-span-6">
    <p class="text-xs text-gray-300 mb-2">Email</p>
    <%= turbo_frame_tag "inbound_email" do %>
      <%= render "inbound_email", inbound_email: @inbound_email, inbox: @inbox %>
    <% end %>
  </div>
</div>
