<%= content_for(:breadcrumbs) do %>
  <%= link_to "Inboxes", inboxes_path %>
  <%= inline_svg_tag "icons/solid-chevron-right.svg", class: "h-4 inline" %>
  <%= link_to @inbox.name, @inbox %>
  <%= inline_svg_tag "icons/solid-chevron-right.svg", class: "h-4 inline" %>
  <%= link_to "##{@inbound_email.id}", inbox_inbound_email_path(@inbox, @inbound_email.id) %>
<% end %>

<% label_classes = "w-full mx-auto text-gray-400" %>
<%= content_for(:info_and_attachments) do %>
  <div class="mb-3 bg-gray-50 rounded-lg py-3 px-5">
    <% dt_classes = "mt-2 text-gray-400 text-xs uppercase" %>
    <% dd_classes = "mb-2" %>

    <dt class="<%= dt_classes %>">Subject</dt>
    <dd class="<%= dd_classes %>"><%= @inbound_email.mail.subject %></dd>

    <dt class="<%= dt_classes %>">From</dt>
    <dd class="<%= dd_classes %>"><%= @inbound_email.from %></dd>

    <dt class="<%= dt_classes %>">To</dt>
    <dd class="<%= dd_classes %>"><%= @inbound_email.to %></dd>

    <% if @inbound_email.cc.present? %>
      <dt class="<%= dt_classes %>">cc</dt>
      <dd class="<%= dd_classes %>"><%= @inbound_email.cc %></dd>
    <% end %>

    <% if @inbound_email.bcc.present? %>
      <dt class="<%= dt_classes %>">bcc</dt>
      <dd class="<%= dd_classes %>"><%= @inbound_email.bcc %></dd>
    <% end %>

    <dt class="<%= dt_classes %>">Date</dt>
    <dd class="<%= dd_classes %>"><%= l @inbound_email.mail.date %></dd>
  </div>

  <div class="my-6">
    <% if @inbound_email.mail.attachments.empty? %>
      <div class="my-3 p-3 bg-blue-50 text-gray-700 rounded-lg">
        No attachments.
      </div>
    <% end %>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <% @inbound_email.mail.attachments.each do |attachment| %>
        <%= link_to inbox_inbound_email_attachment_path(@inbox, @inbound_email.id, filename: attachment.filename), class: "group border border-gray-200 rounded-lg p-2 mb-4 block hover:bg-gray-100 hover:border-transparent transition" do %>
          <p class="text-center my-7">
          <%= attachment.mime_type %>
          </p>
          <p class="text-center text-gray-700" title="<%= attachment.filename %>">
          <%= attachment.filename.truncate(20) %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render "application/inbox_email_layout", inboxes: @inboxes, inbox: @inbox, inbound_emails: @inbound_emails, inbound_email: @inbound_email %>
