<div class="px-5 py-4 bg-gray-50 flex flex-row">
  <div class="flex-1">
    <% d_group_classes = "mb-2" %>
    <% dt_classes = "text-xs text-gray-400" %>
    <% dd_classes = "text-gray-600" %>

    <% if defined?(@inbox) %>
      <div class="<%= d_group_classes %> flex flex-row">
        <div>
          <dt class="<%= dt_classes %>">Inbox name</dt>
          <dd class="<%= dd_classes %>"><%= @inbox.name %></dd>
        </div>

        <%= button_to @inbox, method: :delete, data: { turbo: false },
          class: "h-6 w-6 text-gray-600 hover:text-blue-600",
          form_class: "ml-4 mt-auto",
          title: "Remove" do %>
          <span aria-hidden="true">
            <%= inline_svg_tag "icons/trash.svg" %>
          </span>
        <% end %>
      </div>

      <div class="<%= d_group_classes %>">
        <dt class="<%= dt_classes %>">Send your test emails to</dt>
        <dd class="<%= dd_classes %>"><%= @inbox.address %></dd>
      </div>
    <% end %>
  </div>

  <div>
    <p class="text-xs text-gray-500">Create a new inbox</p>
    <%= turbo_frame_tag "new_inbox" do %>
      <%= render "inboxes/form", new_inbox: Inbox.new %>
    <% end %>
  </div>
</div>
