<header class="bg-gray-100">
  <div class="px-5">
    <div class="w-full flex flex-row justify-between">
      <div class="flex flex-row">
        <p class="my-5 font-mono text-2xl font-bold">
          <%= link_to root_path do %>
            Testbox
          <% end %>
        </p>
      </div>

      <% if user_signed_in? %>
        <div class="my-auto flex flex-row text-sm">
          <p class="mr-4 text-gray-500"><%= current_user.email %></p>
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, title: "Log out" do %>
            <span aria-hidden="true">
              <%= inline_svg_tag "icons/logout.svg" %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>

    <hr>

    <div class="my-2 flex flex-row text-sm">
      <% if user_signed_in? && current_user.accounts.count > 0 %>
        <p class="text-gray-500">
          <%= link_to current_account.name, [current_account, :inboxes] %>
        </p>
        <%= inline_svg_tag "icons/minus.svg", class: "mx-2 text-gray-400" %>
      <% end %>
      <p class="text-gray-500">A place to send your non-production emails.</p>
    </div>

    <div class="my-1">
      <%= render "flash_messages" %>
    </div>
  </div>
</header>
