<div class="grid md:grid-cols-8 grid-cols-1 gap-4">
  <!-- Inboxes -->
  <div class="col-span-1">
    <p class="text-xs text-gray-300 mb-2">Inboxes</p>
    <%= render "inboxes/inboxes_for_layout", inboxes: inboxes %>
  </div>

  <!-- Emails -->
  <div class="col-span-1">
    <p class="text-xs text-gray-300 mb-2">Emails</p>
    <% if inbox.present? %>
      <%= turbo_frame_tag "#{dom_id(inbox)}_inbound_emails" %>
    <% end %>
    <%# <%= render "inbound_emails/inbound_emails_for_layout", inbound_emails: inbound_emails, inbox: inbox %1> %>
  </div>

  <!-- Email body -->
  <div class="col-span-4">
    <p class="text-xs text-gray-300 mb-2">Email</p>
    <% if inbound_email.present? %>
      <%= render "inbound_emails/inbound_email", inbound_email: inbound_email %>
    <% else %>
      <div class="mb-6 p-3 bg-blue-50 text-gray-700 rounded-lg">
        Select an inbound email to see.
      </div>
    <% end %>
  </div>

  <!-- Extra -->
  <div class="col-span-2">
    <p class="text-xs text-gray-300 mb-2">Info & Attachments</p>
    <%= yield(:info_and_attachments) %>
  </div>
</div>
