<!DOCTYPE html>
<html>
  <head>
    <title>Testbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col justify-between bg-gray-100">
    <%= render "application/header" %>
    <%= render "application/actions" %>
    <div class="bg-white flex-1">
      <main class="mt-7 px-2">
        <%= yield %>
      </main>
    </div>
    <%= render "application/footer" %>
  </body>
</html>
