<% if @inboxes.empty? %>
  <div class="md:w-96 md:ml-2 mb-6 p-3 bg-blue-50 text-gray-700 rounded-lg" id="empty_message" role="alert">
    Create a test inbox where to send your emails.

    <%= render "form", new_inbox: Inbox.new %>
  </div>
<% end %>

<div class="grid md:grid-cols-10 grid-cols-1 gap-1">
  <!-- Inboxes -->
  <div class="md:col-span-2">
    <p class="text-xs text-gray-300 mb-2">Inboxes</p>
    <%= turbo_frame_tag "inboxes" do %>
      <% @inboxes.each do |inbox| %>
        <%= render "inbox_index", inbox: inbox %>
      <% end %>
    <% end %>
  </div>

  <!-- Emails -->
  <div class="md:col-span-2">
    <p class="text-xs text-gray-300 mb-2">Emails</p>
    <%= turbo_frame_tag "inbound_emails" %>
  </div>

  <!-- Email body -->
  <div class="md:col-span-6">
    <p class="text-xs text-gray-300 mb-2">Email</p>
    <%= turbo_frame_tag "inbound_email" %>
  </div>
</div>
